USE [master]
GO
/****** Object:  Database [SistemaHorarios]    Script Date: 16/01/2026 7:07:38 p. m. ******/
CREATE DATABASE [SistemaHorarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaHorarios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemaHorarios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaHorarios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemaHorarios_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaHorarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaHorarios]
GO
/****** Object:  Table [dbo].[Ambiente]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ambiente](
	[IdAmbiente] [int] IDENTITY(1,1) NOT NULL,
	[NombreAmbiente] [varchar](150) NULL,
	[ResponsableAmbiente] [varchar](250) NULL,
	[MananaAmbiente] [varchar](150) NULL,
	[TardeAmbiente] [varchar](150) NULL,
	[NocheAmbiente] [varchar](150) NULL,
	[EstadoAmbiente] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAmbiente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Area_Conocimiento]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area_Conocimiento](
	[IdArea] [int] IDENTITY(1,1) NOT NULL,
	[NombreArea] [varchar](255) NOT NULL,
	[EstadoArea] [bit] NOT NULL,
	[IdRed] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Area_conocimiento_has_Instructor]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area_conocimiento_has_Instructor](
	[IdInstructor] [int] NOT NULL,
	[IdArea] [int] NOT NULL,
 CONSTRAINT [PK_Area_conocimiento_has_Instructor] PRIMARY KEY CLUSTERED 
(
	[IdInstructor] ASC,
	[IdArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asignacion_horario]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignacion_horario](
	[Id_Asignacion] [int] IDENTITY(1,1) NOT NULL,
	[Dia] [nvarchar](20) NOT NULL,
	[HoraDesde] [time](7) NOT NULL,
	[HoraHasta] [time](7) NOT NULL,
	[IdInstructor] [int] NOT NULL,
	[IdFicha] [int] NOT NULL,
	[HorasProgramadas] [int] NULL,
	[HorasTotales] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Asignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Competencia]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competencia](
	[IdCompetencia] [int] IDENTITY(1,1) NOT NULL,
	[IdPrograma] [int] NOT NULL,
	[Nombre] [nvarchar](2000) NOT NULL,
	[DuracionTotal] [int] NULL,
	[Pendiente] [bit] NULL,
	[HorasAsignadas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompetencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Competencias]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competencias](
	[Id_Competencias] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_competencias] [nvarchar](150) NULL,
	[Duracion_Competencia] [int] NULL,
	[Id_Resultado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Competencias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diseño_Curricular]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseño_Curricular](
	[IdCompetencia] [int] IDENTITY(1,1) NOT NULL,
	[Competencia] [nvarchar](300) NOT NULL,
	[Orden] [int] NULL,
	[Resultado] [nvarchar](1000) NULL,
	[Duracion] [int] NULL,
	[HrTrimI] [int] NULL,
	[HrTrimII] [int] NULL,
	[HrTrimIII] [int] NULL,
	[HrTrimIV] [int] NULL,
	[HrTrimV] [int] NULL,
	[HrTrimVI] [int] NULL,
	[HrTrimVII] [int] NULL,
	[Total_Hr] [int] NULL,
	[Prog] [nvarchar](100) NULL,
	[Pend] [nvarchar](100) NULL,
	[Porcentaje] [decimal](5, 2) NULL,
	[IdInstructor] [int] NOT NULL,
	[Id_Horario] [int] NULL,
	[IdFicha] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompetencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ficha]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ficha](
	[IdFicha] [int] IDENTITY(1,1) NOT NULL,
	[CodigoFicha] [int] NULL,
	[FechaInFicha] [date] NULL,
	[FechaFinFicha] [date] NULL,
	[NumAprenFicha] [int] NULL,
	[JornadaFicha] [varchar](100) NULL,
	[EstadoFicha] [bit] NOT NULL,
	[IdPrograma] [int] NULL,
	[IdOferta] [int] NULL,
	[Trimestre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFicha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ficha_has_Ambiente]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ficha_has_Ambiente](
	[IdFicha] [int] NOT NULL,
	[IdAmbiente] [int] NOT NULL,
 CONSTRAINT [PK_Ficha_has_Ambiente] PRIMARY KEY CLUSTERED 
(
	[IdFicha] ASC,
	[IdAmbiente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horario]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horario](
	[Id_Horario] [int] IDENTITY(1,1) NOT NULL,
	[Año_Horario] [int] NULL,
	[Trimestre_Año] [int] NOT NULL,
	[Fecha_Creacion] [datetime] NULL,
	[IdFicha] [int] NOT NULL,
	[Id_Asignacion] [int] NULL,
	[IdInstructorLider] [int] NULL,
	[CompetenciasPendientes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorarioInstructor]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioInstructor](
	[IdHorarioInstructor] [int] IDENTITY(1,1) NOT NULL,
	[IdInstructor] [int] NOT NULL,
	[IdFicha] [int] NOT NULL,
	[Competencia] [nvarchar](max) NULL,
	[Resultado] [nvarchar](max) NULL,
	[Dia] [nvarchar](50) NOT NULL,
	[HoraDesde] [time](7) NOT NULL,
	[HoraHasta] [time](7) NOT NULL,
	[Id_Horario] [int] NOT NULL,
	[IdCompetencia] [int] NULL,
	[IdResultado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHorarioInstructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[IdInstructor] [int] IDENTITY(1,1) NOT NULL,
	[DocumentoInstructor] [int] NULL,
	[NombreCompletoInstructor] [varchar](300) NULL,
	[CodRegionalInstructor] [int] NULL,
	[RegionalInstructor] [varchar](255) NULL,
	[CodCCOS] [int] NULL,
	[DependenciaInstructor] [varchar](255) NULL,
	[CargoInstructor] [varchar](150) NULL,
	[TipoCargoInstructor] [varchar](255) NULL,
	[CorreoSENAInstructor] [varchar](255) NULL,
	[RedInstructor] [varchar](150) NULL,
	[AreaInstructor] [varchar](150) NULL,
	[RutaInstructor] [varchar](150) NULL,
	[CodMunicipioInstructor] [int] NULL,
	[MunicipioInstructor] [varchar](150) NULL,
	[FechaNacimientoInstructor] [varchar](150) NULL,
	[FechaIngreso] [varchar](150) NULL,
	[SexoInstructor] [varchar](150) NULL,
	[EstadoInstructor] [bit] NOT NULL,
	[Horas_De_Trabajo] [numeric](10, 2) NULL,
	[Horas_Trabajadas] [numeric](10, 2) NULL,
 CONSTRAINT [PK__Instruct__108500443A67AFAA] PRIMARY KEY CLUSTERED 
(
	[IdInstructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstructorResultado]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructorResultado](
	[IdResultado] [int] NOT NULL,
	[IdInstructor] [int] NOT NULL,
	[EsPrincipal] [bit] NOT NULL,
 CONSTRAINT [PK_InstructorResultado] PRIMARY KEY CLUSTERED 
(
	[IdResultado] ASC,
	[IdInstructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meta]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meta](
	[IdMeta] [int] IDENTITY(1,1) NOT NULL,
	[MetaFecha] [varchar](200) NULL,
	[MetaTecnPresencial] [int] NULL,
	[MetaTecnVirtual] [int] NULL,
	[MetaTecPresencial] [int] NULL,
	[MetaTecVirtual] [int] NULL,
	[MetaETPresencial] [int] NULL,
	[MetaETVirtual] [int] NULL,
	[MetaOtros] [int] NULL,
	[EstadoMeta] [bit] NOT NULL,
	[MetaTGOApPasan] [int] NULL,
	[MetaTCOApPasan] [int] NULL,
	[MetaETApPasan] [int] NULL,
	[MetaOTROApPasan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oferta]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oferta](
	[IdOferta] [int] IDENTITY(1,1) NOT NULL,
	[EstadoOferta] [bit] NOT NULL,
	[NombreOferta] [varchar](250) NOT NULL,
	[FechaInicioOferta] [varchar](100) NULL,
	[IdUsuario] [int] NULL,
	[IdMetas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOferta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programa_Formacion]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programa_Formacion](
	[IdPrograma] [int] IDENTITY(1,1) NOT NULL,
	[DenominacionPrograma] [varchar](100) NOT NULL,
	[VersionPrograma] [varchar](100) NOT NULL,
	[NivelPrograma] [varchar](100) NULL,
	[CodigoPrograma] [varchar](100) NULL,
	[HorasPrograma] [varchar](100) NULL,
	[EstadoPrograma] [bit] NOT NULL,
	[IdArea] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Red_Conocimiento]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Red_Conocimiento](
	[IdRed] [int] IDENTITY(1,1) NOT NULL,
	[NombreRed] [varchar](150) NOT NULL,
	[EstadoRed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resultado_aprendizaje]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultado_aprendizaje](
	[Id_Resultado] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
	[IdInstructor] [int] NOT NULL,
	[Id_Competencia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Resultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultadoAprendizaje]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadoAprendizaje](
	[IdResultado] [int] IDENTITY(1,1) NOT NULL,
	[IdCompetencia] [int] NOT NULL,
	[Descripcion] [nvarchar](2000) NOT NULL,
	[DuracionResultado] [int] NOT NULL,
	[Pendiente] [bit] NULL,
	[HorasAsignadas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultadoTrimestre]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadoTrimestre](
	[IdResultado] [int] NOT NULL,
	[TrimestreAcad] [int] NOT NULL,
	[HorasPlaneadas] [int] NOT NULL,
	[Horas] [int] NOT NULL,
	[IdFicha] [int] NOT NULL,
 CONSTRAINT [PK_ResultadoTrimestre] PRIMARY KEY CLUSTERED 
(
	[IdFicha] ASC,
	[IdResultado] ASC,
	[TrimestreAcad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RT_Ficha_Resultado_Trimestre] UNIQUE NONCLUSTERED 
(
	[IdFicha] ASC,
	[IdResultado] ASC,
	[TrimestreAcad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 16/01/2026 7:07:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumentoUsuario] [varchar](100) NULL,
	[DocumentoUsuario] [varchar](100) NULL,
	[NombreUsuario] [varchar](255) NULL,
	[ApellidoUsuario] [varchar](255) NULL,
	[TelefonoUsuario] [varchar](100) NULL,
	[ContraseñaUsuario] [varchar](255) NULL,
	[TipoUsuario] [varchar](255) NULL,
	[EstadoUsuario] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Competencia_Programa_Nombre]    Script Date: 16/01/2026 7:07:39 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Competencia_Programa_Nombre] ON [dbo].[Competencia]
(
	[IdPrograma] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Horario_IdFicha_Trimestre]    Script Date: 16/01/2026 7:07:39 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Horario_IdFicha_Trimestre] ON [dbo].[Horario]
(
	[IdFicha] ASC,
	[Trimestre_Año] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HorarioInstructor_IdFicha_IdHorario_IdResultado]    Script Date: 16/01/2026 7:07:39 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_HorarioInstructor_IdFicha_IdHorario_IdResultado] ON [dbo].[HorarioInstructor]
(
	[IdFicha] ASC,
	[Id_Horario] ASC,
	[IdResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ambiente] ADD  DEFAULT ((1)) FOR [EstadoAmbiente]
GO
ALTER TABLE [dbo].[Area_Conocimiento] ADD  DEFAULT ((1)) FOR [EstadoArea]
GO
ALTER TABLE [dbo].[Competencia] ADD  DEFAULT ((0)) FOR [Pendiente]
GO
ALTER TABLE [dbo].[Ficha] ADD  DEFAULT ((1)) FOR [EstadoFicha]
GO
ALTER TABLE [dbo].[Horario] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Instructor] ADD  CONSTRAINT [DF__Instructo__Estad__398D8EEE]  DEFAULT ((1)) FOR [EstadoInstructor]
GO
ALTER TABLE [dbo].[InstructorResultado] ADD  DEFAULT ((0)) FOR [EsPrincipal]
GO
ALTER TABLE [dbo].[Meta] ADD  DEFAULT ((1)) FOR [EstadoMeta]
GO
ALTER TABLE [dbo].[Oferta] ADD  DEFAULT ((1)) FOR [EstadoOferta]
GO
ALTER TABLE [dbo].[Programa_Formacion] ADD  DEFAULT ((1)) FOR [EstadoPrograma]
GO
ALTER TABLE [dbo].[Red_Conocimiento] ADD  DEFAULT ((1)) FOR [EstadoRed]
GO
ALTER TABLE [dbo].[ResultadoAprendizaje] ADD  DEFAULT ((0)) FOR [Pendiente]
GO
ALTER TABLE [dbo].[ResultadoTrimestre] ADD  DEFAULT ((0)) FOR [Horas]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [EstadoUsuario]
GO
ALTER TABLE [dbo].[Area_Conocimiento]  WITH CHECK ADD FOREIGN KEY([IdRed])
REFERENCES [dbo].[Red_Conocimiento] ([IdRed])
GO
ALTER TABLE [dbo].[Area_Conocimiento]  WITH CHECK ADD FOREIGN KEY([IdRed])
REFERENCES [dbo].[Red_Conocimiento] ([IdRed])
GO
ALTER TABLE [dbo].[Area_conocimiento_has_Instructor]  WITH CHECK ADD  CONSTRAINT [FK_Area_conocimiento_has_Instructor_IdArea] FOREIGN KEY([IdArea])
REFERENCES [dbo].[Area_Conocimiento] ([IdArea])
GO
ALTER TABLE [dbo].[Area_conocimiento_has_Instructor] CHECK CONSTRAINT [FK_Area_conocimiento_has_Instructor_IdArea]
GO
ALTER TABLE [dbo].[Area_conocimiento_has_Instructor]  WITH CHECK ADD  CONSTRAINT [FK_Area_conocimiento_has_Instructor_IdInstructor] FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([IdInstructor])
GO
ALTER TABLE [dbo].[Area_conocimiento_has_Instructor] CHECK CONSTRAINT [FK_Area_conocimiento_has_Instructor_IdInstructor]
GO
ALTER TABLE [dbo].[Asignacion_horario]  WITH NOCHECK ADD  CONSTRAINT [FK_AsignacionHorario_Ficha] FOREIGN KEY([IdFicha])
REFERENCES [dbo].[Ficha] ([IdFicha])
GO
ALTER TABLE [dbo].[Asignacion_horario] CHECK CONSTRAINT [FK_AsignacionHorario_Ficha]
GO
ALTER TABLE [dbo].[Asignacion_horario]  WITH NOCHECK ADD  CONSTRAINT [FK_AsignacionHorario_Instructor] FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([IdInstructor])
GO
ALTER TABLE [dbo].[Asignacion_horario] CHECK CONSTRAINT [FK_AsignacionHorario_Instructor]
GO
ALTER TABLE [dbo].[Competencia]  WITH NOCHECK ADD  CONSTRAINT [FK_Competencia_Programa] FOREIGN KEY([IdPrograma])
REFERENCES [dbo].[Programa_Formacion] ([IdPrograma])
GO
ALTER TABLE [dbo].[Competencia] CHECK CONSTRAINT [FK_Competencia_Programa]
GO
ALTER TABLE [dbo].[Diseño_Curricular]  WITH CHECK ADD FOREIGN KEY([IdFicha])
REFERENCES [dbo].[Ficha] ([IdFicha])
GO
ALTER TABLE [dbo].[Diseño_Curricular]  WITH CHECK ADD FOREIGN KEY([IdFicha])
REFERENCES [dbo].[Ficha] ([IdFicha])
GO
ALTER TABLE [dbo].[Diseño_Curricular]  WITH CHECK ADD FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([IdInstructor])
GO
ALTER TABLE [dbo].[Diseño_Curricular]  WITH CHECK ADD FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([IdInstructor])
GO
ALTER TABLE [dbo].[Diseño_Curricular]  WITH CHECK ADD  CONSTRAINT [FK_DisenioHorario] FOREIGN KEY([Id_Horario])
REFERENCES [dbo].[Horario] ([Id_Horario])
GO
ALTER TABLE [dbo].[Diseño_Curricular] CHECK CONSTRAINT [FK_DisenioHorario]
GO
ALTER TABLE [dbo].[Ficha]  WITH CHECK ADD FOREIGN KEY([IdOferta])
REFERENCES [dbo].[Oferta] ([IdOferta])
GO
ALTER TABLE [dbo].[Ficha]  WITH CHECK ADD FOREIGN KEY([IdOferta])
REFERENCES [dbo].[Oferta] ([IdOferta])
GO
ALTER TABLE [dbo].[Ficha]  WITH CHECK ADD FOREIGN KEY([IdPrograma])
REFERENCES [dbo].[Programa_Formacion] ([IdPrograma])
GO
ALTER TABLE [dbo].[Ficha]  WITH CHECK ADD FOREIGN KEY([IdPrograma])
REFERENCES [dbo].[Programa_Formacion] ([IdPrograma])
GO
ALTER TABLE [dbo].[Ficha_has_Ambiente]  WITH CHECK ADD  CONSTRAINT [FK_Ficha_has_Ambiente_IdAmbiente] FOREIGN KEY([IdAmbiente])
REFERENCES [dbo].[Ambiente] ([IdAmbiente])
GO
ALTER TABLE [dbo].[Ficha_has_Ambiente] CHECK CONSTRAINT [FK_Ficha_has_Ambiente_IdAmbiente]
GO
ALTER TABLE [dbo].[Ficha_has_Ambiente]  WITH CHECK ADD  CONSTRAINT [FK_Ficha_has_Ambiente_IdFicha] FOREIGN KEY([IdFicha])
REFERENCES [dbo].[Ficha] ([IdFicha])
GO
ALTER TABLE [dbo].[Ficha_has_Ambiente] CHECK CONSTRAINT [FK_Ficha_has_Ambiente_IdFicha]
GO
ALTER TABLE [dbo].[Horario]  WITH NOCHECK ADD  CONSTRAINT [FK_Horario_Asignacion] FOREIGN KEY([Id_Asignacion])
REFERENCES [dbo].[Asignacion_horario] ([Id_Asignacion])
GO
ALTER TABLE [dbo].[Horario] CHECK CONSTRAINT [FK_Horario_Asignacion]
GO
ALTER TABLE [dbo].[Horario]  WITH NOCHECK ADD  CONSTRAINT [FK_Horario_Ficha] FOREIGN KEY([IdFicha])
REFERENCES [dbo].[Ficha] ([IdFicha])
GO
ALTER TABLE [dbo].[Horario] CHECK CONSTRAINT [FK_Horario_Ficha]
GO
ALTER TABLE [dbo].[Horario]  WITH NOCHECK ADD  CONSTRAINT [FK_Horario_InstructorLider] FOREIGN KEY([IdInstructorLider])
REFERENCES [dbo].[Instructor] ([IdInstructor])
GO
ALTER TABLE [dbo].[Horario] CHECK CONSTRAINT [FK_Horario_InstructorLider]
GO
ALTER TABLE [dbo].[HorarioInstructor]  WITH NOCHECK ADD  CONSTRAINT [FK_HorarioInstructor_Competencia] FOREIGN KEY([IdCompetencia])
REFERENCES [dbo].[Competencia] ([IdCompetencia])
GO
ALTER TABLE [dbo].[HorarioInstructor] CHECK CONSTRAINT [FK_HorarioInstructor_Competencia]
GO
ALTER TABLE [dbo].[HorarioInstructor]  WITH NOCHECK ADD  CONSTRAINT [FK_HorarioInstructor_Ficha] FOREIGN KEY([IdFicha])
REFERENCES [dbo].[Ficha] ([IdFicha])
GO
ALTER TABLE [dbo].[HorarioInstructor] CHECK CONSTRAINT [FK_HorarioInstructor_Ficha]
GO
ALTER TABLE [dbo].[HorarioInstructor]  WITH NOCHECK ADD  CONSTRAINT [FK_HorarioInstructor_Horario] FOREIGN KEY([Id_Horario])
REFERENCES [dbo].[Horario] ([Id_Horario])
GO
ALTER TABLE [dbo].[HorarioInstructor] CHECK CONSTRAINT [FK_HorarioInstructor_Horario]
GO
ALTER TABLE [dbo].[HorarioInstructor]  WITH NOCHECK ADD  CONSTRAINT [FK_HorarioInstructor_Instructor] FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([IdInstructor])
GO
ALTER TABLE [dbo].[HorarioInstructor] CHECK CONSTRAINT [FK_HorarioInstructor_Instructor]
GO
ALTER TABLE [dbo].[HorarioInstructor]  WITH NOCHECK ADD  CONSTRAINT [FK_HorarioInstructor_Resultado] FOREIGN KEY([IdResultado])
REFERENCES [dbo].[ResultadoAprendizaje] ([IdResultado])
GO
ALTER TABLE [dbo].[HorarioInstructor] CHECK CONSTRAINT [FK_HorarioInstructor_Resultado]
GO
ALTER TABLE [dbo].[InstructorResultado]  WITH NOCHECK ADD  CONSTRAINT [FK_InstructorResultado_Instructor] FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([IdInstructor])
GO
ALTER TABLE [dbo].[InstructorResultado] CHECK CONSTRAINT [FK_InstructorResultado_Instructor]
GO
ALTER TABLE [dbo].[InstructorResultado]  WITH NOCHECK ADD  CONSTRAINT [FK_InstructorResultado_Resultado] FOREIGN KEY([IdResultado])
REFERENCES [dbo].[ResultadoAprendizaje] ([IdResultado])
GO
ALTER TABLE [dbo].[InstructorResultado] CHECK CONSTRAINT [FK_InstructorResultado_Resultado]
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD FOREIGN KEY([IdMetas])
REFERENCES [dbo].[Meta] ([IdMeta])
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD FOREIGN KEY([IdMetas])
REFERENCES [dbo].[Meta] ([IdMeta])
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Programa_Formacion]  WITH CHECK ADD FOREIGN KEY([IdArea])
REFERENCES [dbo].[Area_Conocimiento] ([IdArea])
GO
ALTER TABLE [dbo].[Programa_Formacion]  WITH CHECK ADD FOREIGN KEY([IdArea])
REFERENCES [dbo].[Area_Conocimiento] ([IdArea])
GO
ALTER TABLE [dbo].[Resultado_aprendizaje]  WITH CHECK ADD FOREIGN KEY([Id_Competencia])
REFERENCES [dbo].[Competencias] ([Id_Competencias])
GO
ALTER TABLE [dbo].[Resultado_aprendizaje]  WITH CHECK ADD FOREIGN KEY([Id_Competencia])
REFERENCES [dbo].[Competencias] ([Id_Competencias])
GO
ALTER TABLE [dbo].[Resultado_aprendizaje]  WITH CHECK ADD FOREIGN KEY([IdInstructor])
REFERENCES [dbo].[Instructor] ([IdInstructor])
GO
ALTER TABLE [dbo].[ResultadoAprendizaje]  WITH NOCHECK ADD  CONSTRAINT [FK_ResultadoAprendizaje_Competencia] FOREIGN KEY([IdCompetencia])
REFERENCES [dbo].[Competencia] ([IdCompetencia])
GO
ALTER TABLE [dbo].[ResultadoAprendizaje] CHECK CONSTRAINT [FK_ResultadoAprendizaje_Competencia]
GO
ALTER TABLE [dbo].[ResultadoTrimestre]  WITH NOCHECK ADD  CONSTRAINT [FK_ResultadoTrimestre_Ficha] FOREIGN KEY([IdFicha])
REFERENCES [dbo].[Ficha] ([IdFicha])
GO
ALTER TABLE [dbo].[ResultadoTrimestre] NOCHECK CONSTRAINT [FK_ResultadoTrimestre_Ficha]
GO
ALTER TABLE [dbo].[ResultadoTrimestre]  WITH NOCHECK ADD  CONSTRAINT [FK_ResultadoTrimestre_Resultado] FOREIGN KEY([IdResultado])
REFERENCES [dbo].[ResultadoAprendizaje] ([IdResultado])
GO
ALTER TABLE [dbo].[ResultadoTrimestre] NOCHECK CONSTRAINT [FK_ResultadoTrimestre_Resultado]
GO
ALTER TABLE [dbo].[ResultadoTrimestre]  WITH NOCHECK ADD  CONSTRAINT [FK_ResultadoTrimestre_ResultadoAprendizaje] FOREIGN KEY([IdResultado])
REFERENCES [dbo].[ResultadoAprendizaje] ([IdResultado])
GO
ALTER TABLE [dbo].[ResultadoTrimestre] NOCHECK CONSTRAINT [FK_ResultadoTrimestre_ResultadoAprendizaje]
GO
ALTER TABLE [dbo].[ResultadoTrimestre]  WITH NOCHECK ADD  CONSTRAINT [CK_ResultadoTrimestre_Trimestre] CHECK  (([TrimestreAcad]>=(1) AND [TrimestreAcad]<=(7)))
GO
ALTER TABLE [dbo].[ResultadoTrimestre] NOCHECK CONSTRAINT [CK_ResultadoTrimestre_Trimestre]
GO
USE [master]
GO
